# Open dart

- 어떤 함수가 있고, 어떤 결과가 나오는지 중점적으로 보기
- 재무데이터 처리 ( 용어도 좀 공부하기: 자본은 진짜 내 돈(통장에 들어 있는..) + 부채(빚..) = 자산))
- 영업이익, PER, ROA, ROE, 부채, 당기순이익...
- opendart에 있는 정보를 활용해서 위에 내용들을 정리하려고 하심

In [1]:
!pip install opendartreader

Collecting opendartreader
  Downloading OpenDartReader-0.2.1-py3-none-any.whl (27 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\user\.venv\second_day\lib\site-packages (from opendartreader) (4.11.1)
Requirement already satisfied: lxml in c:\users\user\.venv\second_day\lib\site-packages (from opendartreader) (4.9.1)
Requirement already satisfied: requests-file in c:\users\user\.venv\second_day\lib\site-packages (from opendartreader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in c:\users\user\.venv\second_day\lib\site-packages (from opendartreader) (1.5.2)
Requirement already satisfied: requests>=2.3.0 in c:\users\user\.venv\second_day\lib\site-packages (from opendartreader) (2.28.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\user\.venv\second_day\lib\site-packages (from pandas>=0.19.2->opendartreader) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\.venv\second_day\lib\site-packages (from pandas>=0.19.2->opendartreader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\.venv\second_day\lib\site-packages (from pandas>=0.19.2->opendartreader) (2022.6)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\.venv\second_day\lib\site-packages (from requests>=2.3.0->opendartreader) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\.venv\second_day\lib\site-packages (from requests>=2.3.0->opendartreader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\.venv\second_day\lib\site-packages (from requests>=2.3.0->opendartreader) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\.venv\second_day\lib\site-packages (from requests>=2.3.0->opendartreader) (2022.9.24)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\.venv\second_day\lib\site-packages (from beautifulsoup4->opendartreader) (2.3.2.post1)
Requirement already satisfied: six in c:\users\user\.venv\second_day\lib\site-packages (from requests-file->opendartreader) (1.16.0)
Installing collected packages: opendartreader
Successfully installed opendartreader-0.2.1

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

- 여기서 인증키 받기
- https://opendart.fss.or.kr/uat/uia/egovLoginUsr.do
- 인증키 신청/관리 > 오픈API 이용현황
- 하루에 만번정도까지 사용 가능! for문으로 너무 많이 사용하면 안됨. 그럴일은 없겠지만!

In [2]:
import OpenDartReader
KEY = '3c0749c18b1f8e76ff6a966799cbe2a1a266e7d9'
dart = OpenDartReader(KEY)

- 주식을 산다 = 그 회사의 주인이 된다(주주)
- 회사가 상황이 바뀔때마다.. 상황알려주는거 이런게 바꼈다고 알려주는거 >> '공시'
- 이 공시자료는 DART라는 곳에 직접적으로 올라옴! 네이버에서 공시자료도 dart에서 가져온거임.
- 자사주매입, 임원이 바꼈다 등 주가에 영향을 줌!

## 공시 검색(list)
- dart.list > 보고서 리스트와 관련 정보를 알 수 있다

In [6]:
naver = dart.list('NAVER', start = '2022-01-01', end = '2023-02-07') # 회사명(NAVER) 이나 숫자(티커명? 고유아이디?)를 str로 넣어도 됨! / dart.list > 보고서 리스트와 관련 정보를 알 수 있겠구나
naver.head()

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00266961,NAVER,035420,Y,영업(잠정)실적(공정공시),20230203800004,NAVER,20230203,유
1,00266961,NAVER,035420,Y,주주총회소집결의,20230203800002,NAVER,20230203,유
2,00266961,NAVER,035420,Y,연결재무제표기준영업(잠정)실적(공정공시),20230203800003,NAVER,20230203,유
3,00266961,NAVER,035420,Y,매출액또는손익구조30%(대규모법인은15%)이상변경,20230203800001,NAVER,20230203,유
4,00266961,NAVER,035420,Y,결산실적공시예고(안내공시),20230119800474,NAVER,20230119,유

## 보고서 세부데이터(document)
- 공시정보 가지고 옴

In [8]:
document = dart.document('20230203800004')
document

'<html>\n\n <head> \n\n  <meta content="gdi" http-equiv="X-UA-TextLayoutMetrics"> \n\n  <meta content="text/html; charset=euc-kr" http-equiv="Content-Type"> \n\n  <STYLE>\n\n.xforms * { font-family: 돋움체;}\n\n.xforms_title * { font-size: 13pt; padding : 0 0 10 0;}\n\n\n\n.xforms table {\n\n    font-size: 10px;\n\n    padding:0px;\n\n    border-collapse:collapse;\n\n    color: #3D3D3D;\n\n}\n\n.xforms td {\n\n    padding-left:0px;\n\n    padding-top:0px;\n\n    border-collapse:collapse;\n\n    line-height:22px;\n\n    color: #3D3D3D;\n\n    /*text-align:right;*/\n\n    vertical-align:middle;\n\n    border: 1px solid #7f7f7f;\n\n}\n\n\n\n.xforms span {\n\n    /*display: inline-block;*/\n\n    padding-left:3px;\n\n    padding-right: 1px;\n\n    line-height:22px;\n\n    padding-top:0px;\n\n    padding-bottom:0px;\n\n    text-align:left;\n\n    vertical-align:middle;\n\n    border: 0px solid #DBDBDB;\n\n}\n\n\n\n.xforms.img{\n\n    border : 0px;\n\n}\n\n\n\n.xforms a:link {\n\n\n\n    color: #194866;\n\n    text-decoration: none;\n\n}\n\n.xforms a:active {\n\n\n\n    color: #194866;\n\n    text-decoration: none;\n\n}\n\n.xforms a:visited {\n\n    color: #194866;\n\n    text-decoration: none;\n\n}\n\n\n\n.xforms A:hover {\n\n    color:008BE3;\n\n    text-decoration: none;\n\n}\n\n\n\n.xforms_input{\n\n    border: 0px solid #DBDBDB;\n\n    padding-left:3px;\n\n    padding-right: 1px;\n\n    height:22px;\n\n    padding-top:0px;\n\n    padding-bottom:0px;\n\n    text-align:left;\n\n}\n\n</STYLE> \n\n  <title>NAVER/영업(잠정)실적(공정공시)/(2023.02.03)영업(잠정)실적(공정공시)</title> \n\n </head> \n\n <body> \n\n  <div class="xforms"> \n\n   <div> \n\n    <span class="noprint" style="display:none;width:600px;font-size:10pt;"> </span> \n\n    <div class="xforms_title"> \n\n     <div> \n\n      <span style="width:600px;font-weight:bold;text-align:center;">영업(잠정)실적(공정공시)</span> \n\n     </div> \n\n    </div> \n\n    <span class="noprint" style="display:none;width:600px;font-size:10pt;"> </span> \n\n    <table border="1" bordercolordark="white" bordercolorlight="#666666" cellpadding="1" cellspacing="0" id="XFormD1_Form0_RepeatTable0" style="margin:0px 0px 20px 0px;width:602px;font-size:10pt;border:1px solid #7f7f7f;"> \n\n     <tbody> \n\n      <tr> \n\n       <td colspan="7" width="602"> <span style="width:602px;font-size:10pt;">※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음.</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="4" width="332"> <span style="width:332px;font-size:10pt;">1. 실적내용</span> </td> \n\n       <td colspan="3" width="270"> <span class="xforms_input" style="width:270px;font-size:10pt;text-align:right;">단위 : 억원, %</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" rowspan="2" width="158"> <span style="width:158px;font-size:10pt;text-align:center;">구분</span> </td> \n\n       <td width="88"> <span style="width:88px;font-size:10pt;text-align:center;">당기실적</span> </td> \n\n       <td width="86"> <span style="width:86px;font-size:10pt;text-align:center;">전기실적</span> </td> \n\n       <td rowspan="2" width="92"> <span style="width:92px;font-size:10pt;text-align:center;">전기대비증감율(%)</span> </td> \n\n       <td width="92"> <span style="width:92px;font-size:10pt;text-align:center;">전년동기실적</span> </td> \n\n       <td rowspan="2" width="86"> <span style="width:86px;font-size:10pt;text-align:center;">전년동기대비증감율(%)</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:center;">(\'22.4Q)</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:center;">(\'22.3Q)</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:center;">(\'21.4Q)</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td rowspan="2" width="86"> <span style="width:86px;font-size:10pt;text-align:center;">매출액</span> </td> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">당해실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">14,269</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">13,801</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">3.4</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">13,731</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">3.9</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">누계실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">55,126</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">40,857</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">50,187</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">9.8</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td rowspan="2" width="86"> <span style="width:86px;font-size:10pt;text-align:center;">영업이익</span> </td> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">당해실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">3,748</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">4,220</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-11.2</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">4,091</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">-8.4</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">누계실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">15,538</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">11,790</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">15,587</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">-0.3</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td rowspan="2" width="86"> <span style="width:86px;font-size:10pt;text-align:center;">법인세비용차감전계속사업이익</span> </td> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">당해실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">-766</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">5,939</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">적자전환</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">6,015</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">적자전환</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">누계실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">15,717</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">16,483</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">20,893</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">-24.8</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td rowspan="2" width="86"> <span style="width:86px;font-size:10pt;text-align:center;">당기순이익</span> </td> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">당해실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">-1,962</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">4,585</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">적자전환</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">4,133</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">적자전환</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td width="72"> <span style="width:72px;font-size:10pt;text-align:center;">누계실적</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">11,201</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">13,162</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">15,248</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">-26.5</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" width="158"> <span class="xforms_input" style="width:158px;font-size:10pt;">-</span> </td> \n\n       <td width="88"> <span class="xforms_input" style="width:88px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="92"> <span class="xforms_input" style="width:92px;font-size:10pt;text-align:right;">-</span> </td> \n\n       <td width="86"> <span class="xforms_input" style="width:86px;font-size:10pt;text-align:right;">-</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" rowspan="4" width="158"> <span style="width:158px;font-size:10pt;">2. 정보제공내역</span> </td> \n\n       <td colspan="2" width="174"> <span style="width:174px;font-size:10pt;">정보제공자</span> </td> \n\n       <td colspan="3" width="270"> <span class="xforms_input" style="width:270px;font-size:10pt;">당사임원, IR, Public Relations</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" width="174"> <span style="width:174px;font-size:10pt;">정보제공대상자</span> </td> \n\n       <td colspan="3" width="270"> <span class="xforms_input" style="width:270px;font-size:10pt;">기관투자가, 일반투자가, 애널리스트, 언론기관</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" width="174"> <span style="width:174px;font-size:10pt;">정보제공(예정)일시</span> </td> \n\n       <td colspan="3" width="270"> <span class="xforms_input" style="width:270px;font-size:10pt;">2023년 2월 3일 공정공시 이후</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" width="174"> <span style="width:174px;font-size:10pt;">행사명(장소)</span> </td> \n\n       <td colspan="3" width="270"> <span class="xforms_input" style="width:270px;font-size:10pt;">컨퍼런스콜/인터넷실시간청취(웹캐스트)</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="4" width="332"> <span style="width:332px;font-size:10pt;">3. 연락처(관련부서/전화번호)</span> </td> \n\n       <td colspan="3" width="270"> <span class="xforms_input" style="width:270px;font-size:10pt;">IR(1588-3830)</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="7" width="602"> <span style="width:602px;font-size:10pt;">4. 기타 투자판단과 관련한 중요사항</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="7" width="602"> <span class="xforms_input" style="width:602px;font-size:10pt;">- 상기 실적은 한국채택국제회계기준(K-IFRS)에 따라 작성된 별도재무제표 기준 수치입니다. <br xmlns:java="http://xml.apache.org/xalan/java"> <br xmlns:java="http://xml.apache.org/xalan/java">- 상기 실적은 외부감사인의 검토가 완료되기 이전 회사의 가결산 수치이므로, 외부감사인의 감사결과에 따라 내용 중 일부가 변동될 수 있습니다. <br xmlns:java="http://xml.apache.org/xalan/java"> <br xmlns:java="http://xml.apache.org/xalan/java">- 당기손익공정가치측정 금융상품 평가손실 확대에 따른 영업외이익 감소로, 법인세비용차감전 계속사업이익과 당기순이익이 적자전환하였습니다. <br xmlns:java="http://xml.apache.org/xalan/java"> <br xmlns:java="http://xml.apache.org/xalan/java">- 실적발표 컨퍼런스콜은 웹캐스트 방식으로 당사 홈페이지에서 실시간으로 청취 가능합니다.</span> </td> \n\n      </tr> \n\n      <tr> \n\n       <td colspan="2" width="158"> <span style="width:158px;font-size:10pt;">※ 관련공시</span> </td> \n\n       <td colspan="5" width="444"> <span style="width:444px;font-size:10pt;"> <a href="http://kind.krx.co.kr/common/disclsviewer.do?method=search&amp;acptno=20230119000474&amp;rcpno=20230119000474&amp;orgid=G&amp;tran=Y&amp;langTpCd=0" target="_blank" xmlns="http://www.w3.org/1999/xhtml" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xh="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">2023-01-19 결산실적공시 예고(안내공시)</a> <br xmlns:java="http://xml.apache.org/xalan/java"> </span> </td> \n\n      </tr> \n\n     </tbody> \n\n    </table> \n\n   </div> \n\n  </div>  \n\n </body>\n\n</html>'

In [7]:
import IPython
document = dart.document('20230203800004')
IPython.display.HTML(document) # HTML을 좀 더 보기 좋게 표현해줌

## 기업의 개황정보(company)

In [12]:
dart.company('SK텔레콤')

{'status': '000',
 'message': '정상',
 'corp_code': '00159023',
 'corp_name': 'SK텔레콤(주)',
 'corp_name_eng': 'SK TELECOM CO.,LTD',
 'stock_name': 'SK텔레콤',
 'stock_code': '017670',
 'ceo_nm': '유영상',
 'corp_cls': 'Y',
 'jurir_no': '1101110371346',
 'bizr_no': '1048137225',
 'adres': '서울특별시 중구  을지로 65 (을자로2가)',
 'hm_url': 'www.sktelecom.com',
 'ir_url': '',
 'phn_no': '02-6100-2114',
 'fax_no': '02-6100-7948',
 'induty_code': '61220',
 'est_dt': '19840420',
 'acc_mt': '12'}

## 사업보고서(report)
- 활용성 GOOD

In [13]:
# dart.report(<corp>, <key_word>, <bsns_year>, <reprt_code>)
dart.report('SK텔레콤', "배당", 2021, '11011')

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20220812000185,Y,00159023,SK텔레콤,주당액면가액(원),100,500,500,NaN
1,20220812000185,Y,00159023,SK텔레콤,(연결)당기순이익(백만원),"2,407,523","1,504,352","888,698",NaN
2,20220812000185,Y,00159023,SK텔레콤,(별도)당기순이익(백만원),"1,073,823","758,792","979,891",NaN
3,20220812000185,Y,00159023,SK텔레콤,(연결)주당순이익(원),"7,191","20,463","12,127",NaN
4,20220812000185,Y,00159023,SK텔레콤,현금배당금총액(백만원),"716,990","715,080","730,098",NaN
5,20220812000185,Y,00159023,SK텔레콤,주식배당금총액(백만원),-,-,-,NaN
6,20220812000185,Y,00159023,SK텔레콤,(연결)현금배당성향(%),29.80,47.50,82.00,NaN
7,20220812000185,Y,00159023,SK텔레콤,현금배당수익률(%),5.70,4.10,4.10,보통주
8,20220812000185,Y,00159023,SK텔레콤,현금배당수익률(%),-,-,-,우선주
9,20220812000185,Y,00159023,SK텔레콤,주식배당수익률(%),-,-,-,보통주
10,20220812000185,Y,00159023,SK텔레콤,주식배당수익률(%),-,-,-,우선주
11,20220812000185,Y,00159023,SK텔레콤,주당 현금배당금(원),"3,295","10,000","10,000",보통주
12,20220812000185,Y,00159023,SK텔레콤,주당 현금배당금(원),-,-,-,우선주
13,20220812000185,Y,00159023,SK텔레콤,주당 주식배당(주),-,-,-,보통주
14,20220812000185,Y,00159023,SK텔레콤,주당 주식배당(주),-,-,-,우선주

In [14]:
dart.report('SK텔레콤', "최대주주", 2021, '11011')

,rcept_no,corp_cls,corp_code,corp_name,stock_knd,rm,nm,relate,bsis_posesn_stock_co,bsis_posesn_stock_qota_rt,trmend_posesn_stock_co,trmend_posesn_stock_qota_rt
0,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,SK㈜,본인,"21,624,120",26.78,"65,668,397",30.01
1,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,김준모,발행회사임원,0,0.00,303,0.00
2,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,최규남,발행회사임원,0,0.00,455,0.00
3,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,윤풍영,발행회사임원,0,0.00,"2,733",0.00
4,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,최태원,계열회사임원,100,0.00,303,0.00
5,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,장동현,계열회사임원,251,0.00,762,0.00
6,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,박정호,발행회사임원,"2,500",0.00,"10,932",0.00
7,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,유영상,발행회사임원,500,0.00,"3,340",0.00
8,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,김용학,발행회사임원,0,0.00,303,0.00
9,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,김석동,발행회사임원,0,0.00,303,0.00
10,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,윤영민,발행회사임원,0,0.00,303,0.00
11,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,안정호,발행회사임원,0,0.00,303,0.00
12,20220812000185,Y,00159023,SK텔레콤,의결권있는 주식,-,계,NaN,"21,627,471",26.78,"65,688,437",30.02
13,20220812000185,Y,00159023,SK텔레콤,기타,-,계,NaN,-,-,-,-

In [16]:
dart.report('SK텔레콤', "자기주식", 2021, '11011')

,rcept_no,corp_cls,corp_code,corp_name,stock_knd,acqs_mth1,acqs_mth2,acqs_mth3,bsis_qy,change_qy_acqs,change_qy_dsps,change_qy_incnr,trmend_qy,rm
0,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,직접취득,장내직접취득,"38,046,315",-,"604,950","37,441,365",-,-
1,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,신탁계약에 의한취득,수탁자보유물량,-,-,-,-,-,-
2,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,신탁계약에 의한취득,현물보유량,0,"10,486,475","3,303,040","5,986,475","1,196,960",-
3,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,신탁계약에 의한취득,현물보유량,-,-,-,-,-,-
4,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,신탁계약에 의한취득,소계,"9,046,475","11,926,475","13,789,515","5,986,475","1,196,960",-
5,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,신탁계약에 의한취득,소계,-,-,-,-,-,-
6,20220812000185,Y,00159023,SK텔레콤,보통주,기타취득,기타취득,기타취득,-,"54,032",-,-,"54,032",-
7,20220812000185,Y,00159023,SK텔레콤,우선주,기타취득,기타취득,기타취득,-,-,-,-,-,-
8,20220812000185,Y,00159023,SK텔레콤,보통주,총계,총계,총계,"47,092,790","11,980,507","14,394,465","43,427,840","1,250,992",-
9,20220812000185,Y,00159023,SK텔레콤,우선주,총계,총계,총계,-,-,-,-,-,-
10,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,직접취득,장내직접취득,-,-,-,-,-,-
11,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,직접취득,장외직접취득,-,-,-,-,-,-
12,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,직접취득,장외직접취득,-,-,-,-,-,-
13,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,직접취득,공개매수,-,-,-,-,-,-
14,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,직접취득,공개매수,-,-,-,-,-,-
15,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,직접취득,소계,"38,046,315",-,"604,950","37,441,365",-,-
16,20220812000185,Y,00159023,SK텔레콤,우선주,배당가능이익범위 이내 취득,직접취득,소계,-,-,-,-,-,-
17,20220812000185,Y,00159023,SK텔레콤,보통주,배당가능이익범위 이내 취득,신탁계약에 의한취득,수탁자보유물량,"9,046,475","1,440,000","10,486,475",-,-,-

## 재무 데이터(finstate)

In [18]:
finance = dart.finstate('005380', 2021, '11011') # 현대차
finance

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
0,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,유동자산,...,2021.12.31 현재,"88,565,366,000,000",제 53 기,2020.12.31 현재,"83,686,357,000,000",제 52 기,2019.12.31 현재,"76,082,873,000,000",1,KRW
1,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,비유동자산,...,2021.12.31 현재,"145,381,049,000,000",제 53 기,2020.12.31 현재,"125,657,855,000,000",제 52 기,2019.12.31 현재,"118,429,347,000,000",3,KRW
2,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,자산총계,...,2021.12.31 현재,"233,946,415,000,000",제 53 기,2020.12.31 현재,"209,344,212,000,000",제 52 기,2019.12.31 현재,"194,512,220,000,000",5,KRW
3,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,유동부채,...,2021.12.31 현재,"64,236,787,000,000",제 53 기,2020.12.31 현재,"59,459,528,000,000",제 52 기,2019.12.31 현재,"53,314,096,000,000",7,KRW
4,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,비유동부채,...,2021.12.31 현재,"87,093,839,000,000",제 53 기,2020.12.31 현재,"73,543,714,000,000",제 52 기,2019.12.31 현재,"64,832,370,000,000",9,KRW
5,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,부채총계,...,2021.12.31 현재,"151,330,626,000,000",제 53 기,2020.12.31 현재,"133,003,242,000,000",제 52 기,2019.12.31 현재,"118,146,466,000,000",11,KRW
6,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,자본금,...,2021.12.31 현재,"1,488,993,000,000",제 53 기,2020.12.31 현재,"1,488,993,000,000",제 52 기,2019.12.31 현재,"1,488,993,000,000",13,KRW
7,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,이익잉여금,...,2021.12.31 현재,"73,167,855,000,000",제 53 기,2020.12.31 현재,"68,911,800,000,000",제 52 기,2019.12.31 현재,"68,249,633,000,000",17,KRW
8,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,BS,재무상태표,자본총계,...,2021.12.31 현재,"82,615,789,000,000",제 53 기,2020.12.31 현재,"76,340,970,000,000",제 52 기,2019.12.31 현재,"76,365,754,000,000",21,KRW
9,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,IS,손익계산서,매출액,...,2021.01.01 ~ 2021.12.31,"117,610,626,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"103,997,601,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"105,746,422,000,000",23,KRW
10,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,IS,손익계산서,영업이익,...,2021.01.01 ~ 2021.12.31,"6,678,949,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"2,394,671,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"3,605,505,000,000",25,KRW
11,20220316001052,11011,2021,00164742,005380,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,...,2021.01.01 ~ 2021.12.31,"7,959,562,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"2,093,256,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"4,163,766,000,000",27,KRW
12,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,유동자산,...,2021.12.31 현재,"23,330,493,000,000",제 53 기,2020.12.31 현재,"24,612,104,000,000",제 52 기,2019.12.31 현재,"22,346,792,000,000",2,KRW
13,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,비유동자산,...,2021.12.31 현재,"56,427,807,000,000",제 53 기,2020.12.31 현재,"53,640,185,000,000",제 52 기,2019.12.31 현재,"51,412,033,000,000",4,KRW
14,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,자산총계,...,2021.12.31 현재,"79,758,300,000,000",제 53 기,2020.12.31 현재,"78,252,289,000,000",제 52 기,2019.12.31 현재,"73,758,825,000,000",6,KRW
15,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,유동부채,...,2021.12.31 현재,"20,043,791,000,000",제 53 기,2020.12.31 현재,"17,709,438,000,000",제 52 기,2019.12.31 현재,"15,148,868,000,000",8,KRW
16,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,비유동부채,...,2021.12.31 현재,"7,039,497,000,000",제 53 기,2020.12.31 현재,"7,354,342,000,000",제 52 기,2019.12.31 현재,"5,089,342,000,000",10,KRW
17,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,부채총계,...,2021.12.31 현재,"27,083,288,000,000",제 53 기,2020.12.31 현재,"25,063,780,000,000",제 52 기,2019.12.31 현재,"20,238,210,000,000",12,KRW
18,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,자본금,...,2021.12.31 현재,"1,488,993,000,000",제 53 기,2020.12.31 현재,"1,488,993,000,000",제 52 기,2019.12.31 현재,"1,488,993,000,000",15,KRW
19,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,이익잉여금,...,2021.12.31 현재,"49,094,270,000,000",제 53 기,2020.12.31 현재,"49,232,719,000,000",제 52 기,2019.12.31 현재,"49,471,930,000,000",19,KRW
20,20220316001052,11011,2021,00164742,005380,OFS,재무제표,BS,재무상태표,자본총계,...,2021.12.31 현재,"52,675,012,000,000",제 53 기,2020.12.31 현재,"53,188,509,000,000",제 52 기,2019.12.31 현재,"53,520,615,000,000",22,KRW
21,20220316001052,11011,2021,00164742,005380,OFS,재무제표,IS,손익계산서,매출액,...,2021.01.01 ~ 2021.12.31,"55,605,120,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"50,661,002,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"49,155,693,000,000",24,KRW
22,20220316001052,11011,2021,00164742,005380,OFS,재무제표,IS,손익계산서,영업이익,...,2021.01.01 ~ 2021.12.31,"661,623,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"768,626,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"1,580,164,000,000",26,KRW
23,20220316001052,11011,2021,00164742,005380,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,...,2021.01.01 ~ 2021.12.31,"989,847,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"526,843,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"3,189,893,000,000",28,KRW
24,20220316001052,11011,2021,00164742,005380,OFS,재무제표,IS,손익계산서,당기순이익,...,2021.01.01 ~ 2021.12.31,"645,526,000,000",제 53 기,2020.01.01 ~ 2020.12.31,"526,975,000,000",제 52 기,2019.01.01 ~ 2019.12.31,"2,767,666,000,000",30,KRW

## 배당정보를 수집하고 가공

- 배당성향: 50 > 100만원 벌면 50%는 주인에게 감
- 용어나 경제 개념들은 더 찾아보기!

In [23]:
stock = dart.report('033780', '배당', 2021, '11011') # KT&G > 케이티앤지
배당성향 = stock[stock['se'] == '(연결)현금배당성향(%)']['thstrm'].iloc[0] # 현금배당수입률(%) 주당 현금배당금(원)
배당수익률 = stock[stock['se'] == '현금배당수익률(%)']['thstrm'].iloc[0]
배당금 = stock[stock['se'] == '주당 현금배당금(원)']['thstrm'].iloc[0]
print(배당성향, 배당수익률, 배당금)

58.90 5.70 4,800

In [26]:
def get_div(cor, year):
    stock = dart.report(cor, '배당', year, '11011') 
    배당성향 = stock[stock['se'] == '(연결)현금배당성향(%)']['thstrm'].iloc[0] # 현금배당수입률(%) 주당 현금배당금(원)
    배당수익률 = stock[stock['se'] == '현금배당수익률(%)']['thstrm'].iloc[0]
    배당금 = stock[stock['se'] == '주당 현금배당금(원)']['thstrm'].iloc[0]
    return 배당성향, 배당수익률, 배당금

In [27]:
get_div('현대자동차', 2021)

('26.30', '2.40', '5,000')

In [28]:
get_div('삼성전자', 2021)

('25.00', '1.80', '1,444')

In [46]:
get_div('046310', 2015) # 백금T&A

('-', '-', '-')

In [47]:
stock = dart.report('046310', '배당', 2015, '11011')
stock

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr
0,20160330001072,K,00360036,백금T&A,주당액면가액(원),500,500,500
1,20160330001072,K,00360036,백금T&A,(연결)당기순이익(백만원),"-2,134","-1,327","-6,335"
2,20160330001072,K,00360036,백금T&A,주당순이익(원),-188,-188,-986
3,20160330001072,K,00360036,백금T&A,현금배당금총액(백만원),-,-,-
4,20160330001072,K,00360036,백금T&A,주식배당금총액(백만원),-,-,-
5,20160330001072,K,00360036,백금T&A,(연결)현금배당성향(%),-,-,-
6,20160330001072,K,00360036,백금T&A,현금배당수익률(%),-,-,-
7,20160330001072,K,00360036,백금T&A,현금배당수익률(%),-,-,-
8,20160330001072,K,00360036,백금T&A,주식배당수익률(%),-,-,-
9,20160330001072,K,00360036,백금T&A,주식배당수익률(%),-,-,-
10,20160330001072,K,00360036,백금T&A,주당 현금배당금(원),-,-,-
11,20160330001072,K,00360036,백금T&A,주당 현금배당금(원),-,-,-
12,20160330001072,K,00360036,백금T&A,주당 주식배당(주),-,-,-
13,20160330001072,K,00360036,백금T&A,주당 주식배당(주),-,-,-

In [48]:
stock['thstrm']  # - 이렇게 나오는 값들 처리해주기!

0        500
1     -2,134
2       -188
3          -
4          -
5          -
6          -
7          -
8          -
9          -
10         -
11         -
12         -
13         -
Name: thstrm, dtype: object

In [50]:
import numpy as np
stock['thstrm'] = stock['thstrm'].apply(lambda x: np.NaN if x == '-' else x)
stock

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr
0,20160330001072,K,00360036,백금T&A,주당액면가액(원),500,500,500
1,20160330001072,K,00360036,백금T&A,(연결)당기순이익(백만원),"-2,134","-1,327","-6,335"
2,20160330001072,K,00360036,백금T&A,주당순이익(원),-188,-188,-986
3,20160330001072,K,00360036,백금T&A,현금배당금총액(백만원),NaN,-,-
4,20160330001072,K,00360036,백금T&A,주식배당금총액(백만원),NaN,-,-
5,20160330001072,K,00360036,백금T&A,(연결)현금배당성향(%),NaN,-,-
6,20160330001072,K,00360036,백금T&A,현금배당수익률(%),NaN,-,-
7,20160330001072,K,00360036,백금T&A,현금배당수익률(%),NaN,-,-
8,20160330001072,K,00360036,백금T&A,주식배당수익률(%),NaN,-,-
9,20160330001072,K,00360036,백금T&A,주식배당수익률(%),NaN,-,-
10,20160330001072,K,00360036,백금T&A,주당 현금배당금(원),NaN,-,-
11,20160330001072,K,00360036,백금T&A,주당 현금배당금(원),NaN,-,-
12,20160330001072,K,00360036,백금T&A,주당 주식배당(주),NaN,-,-
13,20160330001072,K,00360036,백금T&A,주당 주식배당(주),NaN,-,-

In [ ]:
#################### 추가해주기!!!!!!!!!!!!!!!!!!!!!!!!! get_div에?!

In [30]:
import pandas as pd
datetime_idx = pd.date_range('2015', '2021', freq = 'YS')
datetime_idx

DatetimeIndex(['2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01',
               '2019-01-01', '2020-01-01', '2021-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [31]:
datetime_idx[0].strftime('%Y') # 연도 정보만 가져옴 > 이 형태로 넣어주어야 함

'2015'

In [32]:
datetime_idx = pd.date_range('2015', '2021', freq = 'YS').map(lambda x: x.strftime('%Y'))
datetime_idx

Index(['2015', '2016', '2017', '2018', '2019', '2020', '2021'], dtype='object')

In [35]:
# 2015 - 2021
result = {}
for date_year in datetime_idx:
    data = get_div('033780', date_year)
    result[date_year] = data

In [36]:
result

{'2015': ('40.90', '3.08', '3,400'),
 '2016': ('37.60', '3.42', '3,600'),
 '2017': ('41.70', '3.32', '4,000'),
 '2018': ('55.70', '3.73', '4,000'),
 '2019': ('53.80', '4.50', '4,400'),
 '2020': ('50.80', '5.50', '4,800'),
 '2021': ('58.90', '5.70', '4,800')}

In [39]:
pd.DataFrame(result, index = ['배당성향', '배당수익률', '배당금']).T

       배당성향 배당수익률    배당금
2015  40.90  3.08  3,400
2016  37.60  3.42  3,600
2017  41.70  3.32  4,000
2018  55.70  3.73  4,000
2019  53.80  4.50  4,400
2020  50.80  5.50  4,800
2021  58.90  5.70  4,800

In [ ]:
# 반복되는거 있으면 함수로 만들어주기!
# 기본구조
def div():
    return

In [40]:
def div(cor, start_year, end_year):
    result = {}
    datetime_idx = pd.date_range(start_year, end_year, freq = 'YS').map(lambda x: x.strftime('%Y')) # 시작하는 날짜 ~ 끝나는 날짜의 datetime 객체를 생성
    for date_year in datetime_idx:
        data = get_div(cor, date_year)
        result[date_year] = data
    df = pd.DataFrame(result, index = ['배당성향', '배당수익률', '배당금']).T
    return df

In [41]:
div('033780', '2015', '2021') # KT&G

       배당성향 배당수익률    배당금
2015  40.90  3.08  3,400
2016  37.60  3.42  3,600
2017  41.70  3.32  4,000
2018  55.70  3.73  4,000
2019  53.80  4.50  4,400
2020  50.80  5.50  4,800
2021  58.90  5.70  4,800

In [42]:
div('012330', '2015', '2021') # 현대모비스

       배당성향 배당수익률    배당금
2015  10.80  1.40  3,500
2016  10.90  1.30  3,500
2017  21.10  1.30  3,500
2018  20.10  2.00  4,000
2019  16.30  1.50  4,000
2020  24.20  1.60  4,000
2021  15.50  1.50  4,000

In [43]:
div('삼성증권', '2015', '2021')

       배당성향 배당수익률    배당금
2015  25.49  2.33  1,000
2016  28.51  2.00    650
2017  32.88  2.76  1,000
2018  37.42  4.34  1,400
2019  38.74  4.31  1,700
2020  38.69  5.17  2,200
2021  35.15  7.67  3,800

In [45]:
div('046310', '2015', '2021') # 백금T&A

       배당성향 배당수익률 배당금
2015      -     -   -
2016      -     -   -
2017      -     -   -
2018  16.50  1.80  50
2019  42.60  1.70  50
2020      -     -   -
2021      -     -   -

## 재무데이터 처리

In [51]:
import OpenDartReader
import pandas as pd
import numpy as np
KEY = '3c0749c18b1f8e76ff6a966799cbe2a1a266e7d9'
dart = OpenDartReader(KEY) # dart 객체를 가져와야 함! 그래야 우리가 쓸 수 있음

In [52]:
data = dart.finstate('CJ제일제당', 2021, '11011')

In [ ]:
# 필요한 컬럼만 가져오

In [53]:
# data['fs_nm'] # 연결 재무제표 종류
account_nm_list = ['자산총계', '부채총계', '자본총계', '매출액', '영업이익', '당기순이익']
data = data[data['account_nm'].isin(account_nm_list)]

In [54]:
data.columns

Index(['rcept_no', 'reprt_code', 'bsns_year', 'corp_code', 'stock_code',
       'fs_div', 'fs_nm', 'sj_div', 'sj_nm', 'account_nm', 'thstrm_nm',
       'thstrm_dt', 'thstrm_amount', 'frmtrm_nm', 'frmtrm_dt', 'frmtrm_amount',
       'bfefrmtrm_nm', 'bfefrmtrm_dt', 'bfefrmtrm_amount', 'ord', 'currency'],
      dtype='object')

In [55]:
data.head()

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
2,20220321001115,11011,2021,00635134,097950,CFS,연결재무제표,BS,재무상태표,자산총계,...,2021.12.31 현재,"26,855,804,277,000",제 14 기,2020.12.31 현재,"25,611,892,185,000",제 13 기,2019.12.31 현재,"26,280,632,351,000",5,KRW
5,20220321001115,11011,2021,00635134,097950,CFS,연결재무제표,BS,재무상태표,부채총계,...,2021.12.31 현재,"16,049,003,859,000",제 14 기,2020.12.31 현재,"15,445,453,188,000",제 13 기,2019.12.31 현재,"16,799,151,931,000",11,KRW
8,20220321001115,11011,2021,00635134,097950,CFS,연결재무제표,BS,재무상태표,자본총계,...,2021.12.31 현재,"10,806,800,418,000",제 14 기,2020.12.31 현재,"10,166,438,997,000",제 13 기,2019.12.31 현재,"9,481,480,420,000",21,KRW
9,20220321001115,11011,2021,00635134,097950,CFS,연결재무제표,IS,손익계산서,매출액,...,2021.01.01 ~ 2021.12.31,"26,289,227,767,000",제 14 기,2020.01.01 ~ 2020.12.31,"24,245,725,654,000",제 13 기,2019.01.01 ~ 2019.12.31,"22,352,462,296,000",23,KRW
10,20220321001115,11011,2021,00635134,097950,CFS,연결재무제표,IS,손익계산서,영업이익,...,2021.01.01 ~ 2021.12.31,"1,524,429,392,000",제 14 기,2020.01.01 ~ 2020.12.31,"1,359,551,440,000",제 13 기,2019.01.01 ~ 2019.12.31,"896,857,873,000",25,KRW

In [56]:
subset_data = data[['stock_code','bsns_year' ,'account_nm', 'thstrm_amount','fs_nm']]
subset_data

   stock_code bsns_year account_nm       thstrm_amount   fs_nm
2      097950      2021       자산총계  26,855,804,277,000  연결재무제표
5      097950      2021       부채총계  16,049,003,859,000  연결재무제표
8      097950      2021       자본총계  10,806,800,418,000  연결재무제표
9      097950      2021        매출액  26,289,227,767,000  연결재무제표
10     097950      2021       영업이익   1,524,429,392,000  연결재무제표
12     097950      2021      당기순이익     892,393,213,000  연결재무제표
15     097950      2021       자산총계  10,611,822,485,000    재무제표
18     097950      2021       부채총계   5,478,310,060,000    재무제표
21     097950      2021       자본총계   5,133,512,425,000    재무제표
22     097950      2021        매출액   6,796,067,327,000    재무제표
23     097950      2021       영업이익     305,390,820,000    재무제표
25     097950      2021      당기순이익     304,038,438,000    재무제표

In [ ]:
# pivot_table로 다시 정리! 새롭게 데이터를 재구조화! 재정렬함! > 아래 년도 별로 추가하기 위해서 pivot_table만들어준거임!!

In [57]:
import pandas as pd
# first 활용하여 연결재무제표가 있으면 연결재무제표 활용
pivot = pd.pivot_table(data = subset_data, index = 'bsns_year', columns = 'account_nm', values = 'thstrm_amount', aggfunc='first')
pivot

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계
bsns_year,,,,,,
2021,"892,393,213,000","26,289,227,767,000","16,049,003,859,000","1,524,429,392,000","10,806,800,418,000","26,855,804,277,000"

In [59]:
def get_finance_data(stork_name, start_year, end_year):
    dates = list(range(start_year, end_year + 1))
    result = pd.DataFrame()
    for year in dates:
        data = dart.finstate(stork_name, year, '11011')
        account_nm_list = ['자산총계', '부채총계', '자본총계', '매출액', '영업이익', '당기순이익']
        data = data[data['account_nm'].isin(account_nm_list)]
        subset_data = data[['stock_code','bsns_year' ,'account_nm', 'thstrm_amount','fs_nm']]
        pivot = pd.pivot_table(data = subset_data, index = 'bsns_year', columns = 'account_nm', values = 'thstrm_amount', aggfunc='first')
        result = result.append(pivot)
    return result

In [60]:
result = get_finance_data('CJ제일제당', 2017, 2020)

C:\Users\User\AppData\Local\Temp\ipykernel_16568\336813469.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)
C:\Users\User\AppData\Local\Temp\ipykernel_16568\336813469.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)
C:\Users\User\AppData\Local\Temp\ipykernel_16568\336813469.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)
C:\Users\User\AppData\Local\Temp\ipykernel_16568\336813469.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)

In [67]:
result

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계
bsns_year,,,,,,
2017,"412,797,743,000","16,477,174,023,000","10,724,270,560,000","776,575,241,000","6,143,853,335,000","16,868,123,895,000"
2018,"925,388,625,000","18,670,059,989,000","12,188,810,794,000","832,709,680,000","7,308,212,090,000","19,497,022,884,000"
2019,"191,028,303,000","22,352,462,296,000","16,799,151,931,000","896,857,873,000","9,481,480,420,000","26,280,632,351,000"
2020,"786,425,538,000","24,245,725,654,000","15,445,453,188,000","1,359,551,440,000","10,166,438,997,000","25,611,892,185,000"

In [69]:
import sys
sys.maxsize

9223372036854775807

In [70]:
result_int = result.apply(lambda x: x.str.replace(',','')).astype(np.int64) # 연산할 수 있도록 int로 형변환해줌 # OverflowError... astype(int) >> astype(np.int64)로!!
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계
bsns_year,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000

## [실습]
- 영업이익증가율, 매출증가율, 당기순이익 증가율, 부채비율,ROA, ROE(평균자기자본 주어주기) 계산하기

### 매출증가율

In [ ]:
# 2018-2017 / 2017 이렇게 계산해야 함

In [ ]:
# 하나 밀어줘야 함(전기걸 해야되니까 전걸로 나눠줘야 함) >> shift(!)

In [ ]:
result_int['매출액'].diff() # 이전거를 빼준 결과를 줌!!

In [71]:
result_int['매출증가율'] = result_int['매출액'].diff() / result_int['매출액'].shift(1) * 100
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율
bsns_year,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,13.308629
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,19.723570
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,8.470044

In [ ]:
result_int['매출액']

In [ ]:
result_int['매출액'].shift(1)

### 부채비율

In [72]:
result_int['부채비율'] = result_int['자본총계'] / result_int['자산총계'] * 100
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율,부채비율
bsns_year,,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN,36.422861
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,13.308629,37.483733
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,19.723570,36.077825
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,8.470044,39.694213

### 당기순이익 증가율

In [73]:
result_int['당기순이익증가율'] = (result_int['당기순이익'].diff() / result_int['당기순이익'].shift(1)) * 100
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율,부채비율,당기순이익증가율
bsns_year,,,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN,36.422861,NaN
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,13.308629,37.483733,124.174827
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,19.723570,36.077825,-79.356964
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,8.470044,39.694213,311.680115

### 영업이익증가율

In [74]:
result_int['영업이익증가율'] = (result_int['영업이익'].diff() / result_int['영업이익'].shift(1)) * 100
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율,부채비율,당기순이익증가율,영업이익증가율
bsns_year,,,,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN,36.422861,NaN,NaN
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,13.308629,37.483733,124.174827,7.228461
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,19.723570,36.077825,-79.356964,7.703548
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,8.470044,39.694213,311.680115,51.590512

### ROA

In [75]:
result_int['ROA'] = (result_int['당기순이익'] / result_int['자산총계']) * 100
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율,부채비율,당기순이익증가율,영업이익증가율,ROA
bsns_year,,,,,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN,36.422861,NaN,NaN,2.447206
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,13.308629,37.483733,124.174827,7.228461,4.746307
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,19.723570,36.077825,-79.356964,7.703548,0.726879
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,8.470044,39.694213,311.680115,51.590512,3.070548

### ROE

In [76]:
result_int['평균자기자본'] = result_int['자본총계'].rolling(2).mean() # 이동평균 활용(rolling)
result_int['ROE'] = result_int['당기순이익'] / result_int['평균자기자본'] * 100
result_int

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율,부채비율,당기순이익증가율,영업이익증가율,ROA,평균자기자본,ROE
bsns_year,,,,,,,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN,36.422861,NaN,NaN,2.447206,NaN,NaN
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,13.308629,37.483733,124.174827,7.228461,4.746307,6.726033e+12,13.758313
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,19.723570,36.077825,-79.356964,7.703548,0.726879,8.394846e+12,2.275543
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,8.470044,39.694213,311.680115,51.590512,3.070548,9.823960e+12,8.005179

In [79]:
def get_finance_data(stork_name, start_year, end_year):
  dates = list(range(start_year, end_year + 1))
  result = pd.DataFrame()
  for year in dates:
    data = dart.finstate(stork_name, year, '11011')
    account_nm_list = ['자산총계', '부채총계', '자본총계', '매출액', '영업이익', '당기순이익']
    data = data[data['account_nm'].isin(account_nm_list)]
    subset_data = data[['stock_code','bsns_year' ,'account_nm', 'thstrm_amount','fs_nm']]
    pivot = pd.pivot_table(data = subset_data, index = 'bsns_year', columns = 'account_nm', values = 'thstrm_amount', aggfunc='first')
    result = result.append(pivot)

  # 원화 , 처리
  result_int = result.apply(lambda x: x.str.replace(',','')).astype(np.int64)
  result_int['매출증가율'] = result_int['매출액'].diff() / result_int['매출액'] * 100
  result_int['부채비율'] = result_int['자본총계'] / result_int['자산총계'] * 100
  result_int['당기순이익증가율'] = (result_int['당기순이익'].diff() / result_int['당기순이익']) * 100
  result_int['ROA'] = (result_int['당기순이익'] / result_int['자산총계']) * 100
  result_int['영업이익증가율'] = (result_int['영업이익'].diff() / result_int['영업이익']) * 100
  result_int['평균자기자본'] = result_int['자본총계'].rolling(2).mean() # 이동평균 활용
  result_int['ROE'] = result_int['당기순이익'] / result_int['평균자기자본'] * 100
  return result_int.drop(['평균자기자본'], axis = 1) # 평균자기자본은 계산을 위해서만 필요

In [80]:
get_finance_data('CJ제일제당', 2017, 2020)

C:\Users\User\AppData\Local\Temp\ipykernel_16568\677599163.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)
C:\Users\User\AppData\Local\Temp\ipykernel_16568\677599163.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)
C:\Users\User\AppData\Local\Temp\ipykernel_16568\677599163.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)
C:\Users\User\AppData\Local\Temp\ipykernel_16568\677599163.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(pivot)

account_nm,당기순이익,매출액,부채총계,영업이익,자본총계,자산총계,매출증가율,부채비율,당기순이익증가율,ROA,영업이익증가율,ROE
bsns_year,,,,,,,,,,,,
2017,412797743000,16477174023000,10724270560000,776575241000,6143853335000,16868123895000,NaN,36.422861,NaN,2.447206,NaN,NaN
2018,925388625000,18670059989000,12188810794000,832709680000,7308212090000,19497022884000,11.745468,37.483733,55.391958,4.746307,6.741178,13.758313
2019,191028303000,22352462296000,16799151931000,896857873000,9481480420000,26280632351000,16.474258,36.077825,-384.424879,0.726879,7.152548,2.275543
2020,786425538000,24245725654000,15445453188000,1359551440000,10166438997000,25611892185000,7.808648,39.694213,75.709296,3.070548,34.032811,8.005179